<h2 class="text-3xl bg-blue-900 p-2 text-white">
  Plasma Cutting Calculator
</h2>
<div class="flex flex-col w-screen items-center justify-center">

  <div class="w-2/5 sm: w-2/3 ">
    <p>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Width</mat-label>
        <input matInput #width required>
        <span matSuffix>mm</span>
        <mat-hint>Width must be greater than 0</mat-hint>
      </mat-form-field>
    </p>
  </div>

  <div class="w-2/5 sm: w-2/3 ">
    <p>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Length</mat-label>
        <input matInput #length  required>
        <span matSuffix>mm</span>
        <mat-hint>Length must be greater than 0</mat-hint>
      </mat-form-field>
    </p>
  </div>

  <div class="w-2/5 sm: w-2/3 ">
    <p>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Thickness</mat-label>
        <input matInput #thickness  required>
        <span matSuffix>mm</span>
        <mat-hint>Thickness must be greater than 0</mat-hint>
      </mat-form-field>
    </p>
  </div>

  <div class="w-2/5 sm: w-2/3 ">
    <p>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Hole Number</mat-label>
        <input matInput #Hole (keyup)="(Hole.value)">
        <mat-hint>Hole Number can not be negative</mat-hint>
      </mat-form-field>
    </p>
  </div>

  <button (click)="Calculate(width.value,length.value,thickness.value,Hole.value)" mat-flat-button color="primary" class="text-white w-2/5 sm: w-2/3">Calculator</button>

  <h1 class="text-black py-4">Price: ${{result}}</h1>

</div>